body
  margin: 0
  padding: 0
  position: relative
  color: $dark_grey
  font-weight: 500
li
  list-style-type:  none
  display: block

  /*====== HEADER =======*/
.header
  margin: 0 auto
  width: 100%
  height: 50px
  background: $blue
  .container
    @include container()  
    justify-content: space-between
.logo
 cursor: pointer
 &:hover
  opacity: 0.8
.menu
  width: 525px
  &_list
    display: flex
    justify-content: flex-end
.list
  &__item
    display: block
    margin-left: 102px
  &__link
    color: #fff
    text-decoration: none
    cursor: default
    &:hover
      color: $pink
      text-decoration: underline
  &_img
    width: 16px
    height: 16px
    margin-right: 10px
    background: url("../icons/header-icons/share.svg") center no-repeat
    visibility: hidden

  /*=========== SUBHEADER ========= */
.subheader
  width: 100%
  height: 136px
  margin: 0 auto
  background: $wight
  .container
    @include container()
    justify-content: space-between
.slider
  width: 100%
  height: 100%
  margin: 0 auto
  display: flex
  align-items: center
  &__list
    &.time
      width: 240px
      display: flex
      flex-wrap: wrap
    &_item
      width: 120px
      display: flex
      flex-direction: column
      input[type="checkbox"]
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
      label
        padding-left: 10px
        &::before
          @include label()
      input[type="checkbox"]:hover + label::before
        @include label_focus()
      input[type="checkbox"]:focus + label::before
        @include label_focus()
      input[type="checkbox"]:checked + label::before
        @include label_chacked()
  
      
    
  

      

