@media (max-width: 1199px)
    .container
        max-width: 720px
        margin: 0 auto
        padding: 0 20px
        flex-wrap: wrap
    .menu
        width: 67%
    .slider
        justify-content: space-between
    .slider__list.time
        width: 280px
    .slider_list.search
        width: 221px
    .slider_list.plans
        position: absolute
        margin: 0
        width: 145px
        left: 42.5%
        top: 10%
    .slider_list.important
        position: absolute
        margin: 0
        width: 160px
        top: 19%
        left: 42.5%
    
    .footer
        position: fixed
        bottom: 0 
        z-index: 100
        


