body {
  font-family: 'Maven Pro';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =========== COLORS ======== */
/* ===== ITEMS =====*/
body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #6e6e6e;
  font-weight: 500;
}

li {
  list-style-type: none;
  display: block;
  /*====== HEADER =======*/
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background: #484b98;
}

.header .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.menu {
  width: 525px;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list {
  /*=========== SUBHEADER ========= */
}

.list__item {
  display: block;
  margin-left: 102px;
}

.list__link {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.list__link:hover {
  color: #e8c5ed;
  text-decoration: underline;
}

.list_img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../icons/header-icons/share.svg") center no-repeat;
  visibility: hidden;
}

.subheader {
  width: 100%;
  height: 136px;
  margin: 0 auto;
  background: #fdfdfd;
}

.subheader .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__list.time {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__list_item {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__list_item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider__list_item label {
  padding-left: 10px;
}

.slider__list_item label::before {
  content: "";
  background: #e7e7ea;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-left: -10px;
  margin-right: 10px;
  -webkit-transition: .2s;
  transition: .2s;
  vertical-align: middle;
}

.slider__list_item input[type="checkbox"]:hover + label::before {
  content: "";
  background: #fdf1ff;
}

.slider__list_item input[type="checkbox"]:focus + label::before {
  content: "";
  background: #fdf1ff;
}

.slider__list_item input[type="checkbox"]:checked + label::before {
  content: "";
  background-color: #e8c5ed;
  background-image: url(../icons/header-icons/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=styles.css.map */