body {
  font-family: 'Maven Pro';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =========== COLORS ======== */
/* ===== ITEMS =====* */
body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #6e6e6e;
  font-weight: 500;
}

li {
  list-style-type: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*====== HEADER =======*/
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background: #484b98;
}

.header .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  /*=========== SUBHEADER ========= */
}

.list__item {
  display: block;
  margin-left: 102px;
}

.list__link {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.list__link:hover {
  color: #e8c5ed;
  text-decoration: underline;
}

.subheader {
  width: 100%;
  height: 136px;
  margin: 0 auto;
  background: #fdfdfd;
}

.subheader .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-time {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-time .slider__list {
  position: relative;
}

.slider-time .slider__list_item {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-time .slider__list_item label {
  padding-left: 10px;
}

.slider-time .slider__list_item label::before {
  content: "";
  background: #e7e7ea;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-left: -10px;
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.slider-time .slider__list_item input[type="checkbox"]:hover + label::before {
  content: "";
  background: #fdf1ff;
}

.slider-time .slider__list_item input[type="checkbox"]:focus + label::before {
  content: "";
  background: #fdf1ff;
}

.slider-time .slider__list_item input[type="checkbox"]:checked + label::before {
  content: "";
  background-color: #e8c5ed;
  background-image: url(../icons/header-icons/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.central-wrapper {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-plans {
  position: relative;
  width: 165px;
  height: 40px;
  padding: 5px 5px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e7ea;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.slider-plans:hover {
  box-shadow: inset 0 0 20px 0 #fdfdfd;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-plans:hover > .dropdown {
  opacity: 1;
  box-shadow: inset 0 0 20px 0 #fdfdfd;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-plans:active > .dropdown {
  background: #fff;
  opacity: 1;
}

.slider-plans p {
  font-size: 16px;
  margin: 0;
}

.plans_btn {
  width: 32px;
  height: 32px;
  background: #fdfdfd;
  border: solid 1px #e7e7ea;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-image: url("../icons/header-icons/polygon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.plans_btn:hover + .dropdown {
  opacity: 1;
  box-shadow: inset 0 0 20px 0 #fdfdfd;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.plans_btn:active + .dropdown {
  background: #fff;
  opacity: 1;
}

.dropdown {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 0;
  width: 165px;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  background: #fdfdfd;
  z-index: 100;
}

.dropdown__item {
  width: 100%;
  height: 40px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown__item:hover {
  background: #f4f2f6;
  padding: 0;
  box-shadow: inset 0 0 20px 0 #fdfdfd;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-important {
  background: #e7e7ea;
  padding: 4px;
}

.slider-important .btn {
  height: 32px;
  width: 79px;
  background: #fdfdfd;
  border: solid 1px #e7e7ea;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #6e6e6e;
  font-weight: 500;
  font-family: 'Maven Pro';
  font-size: 16px;
}

.slider-important .btn:hover {
  background-color: #e8c5ed;
}

.slider-important .btn:focus {
  background-color: #383b83;
  color: #fff;
}

.slider-search {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e7e7ea;
}

.slider-search input[type="text"] {
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #e7e7ea;
  border: none;
  width: 100%;
}

.slider-search input[type="text"]:hover {
  opacity: .5;
}

.slider-search input[type="text"]:checked {
  opacity: 1;
}

/*============ CONTENT ========== */
.content {
  width: 100%;
  margin: 0 auto;
  background: #e7e7ea;
}

.content .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 120px 0;
}

.top {
  margin-bottom: 30px;
}

.card {
  width: 263px;
}

.card-inf {
  height: 175px;
  width: 263px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #fdfdfd;
}

.card-inf:hover {
  background: #fdf1ff;
}

.card.named {
  height: 350px;
  box-shadow: 0px 0px 20px 0px #6e6e6e;
  -moz-box-shadow: 0 0 20px #6e6e6e;
  -webkit-box-shadow: 0 0 20px #6e6e6e;
}

.card.named:hover {
  opacity: 0.7;
}

.card-description {
  height: 95px;
  padding: 20px;
}

.card-description h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

.card-description span {
  color: #383b83;
  font-size: 16px;
}

.card-description a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #6e6e6e;
  padding-top: 50px;
}

.card-description a:hover {
  text-decoration: underline;
}

.card {
  cursor: default;
}

.card-img {
  height: 255px;
  width: 263px;
  left: 150px;
  top: 441px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.card-inf.empty {
  background-color: #e7e7ea;
  background-image: url("../icons/content-icons/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px #fdfdfd;
}

.card-inf.empty:hover {
  background-image: url("../icons/content-icons/plus-hover.svg");
}

.vacation {
  background-image: url("../images/vocation.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 263px;
}

.cinema {
  background-image: url("../images/cinema.png");
  background-position: center;
  background-repeat: no-repeat;
}

.dinner {
  background-image: url("../images/dinner.png");
  background-position: center;
  background-repeat: no-repeat;
}

.coffee {
  background-image: url("../images/coffee.png");
  height: 174px;
  background-position: center;
  background-repeat: no-repeat;
}

.margin {
  margin-left: 35%;
}

/*================= FOOTER ============*/
.footer {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background: #383b83;
}

.footer .container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.footer .menu {
  width: 330px;
}

.footer .menu_list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .menu .list__item {
  margin: 0;
}

.footer .media {
  width: 165px;
}

.footer .media_list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-hid.share {
  width: 1px;
  height: 1px;
  z-index: -100;
  margin: 0;
  background-image: url("../icons/header-icons/share.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  width: 24px;
  height: 24px;
}

.instagram {
  background-image: url("../icons/footer/instagram.svg");
}

.instagram:hover {
  background-image: url("../icons/footer/instagram-hov.svg");
}

.facebook {
  background-image: url("../icons/footer/facebook.svg");
}

.facebook:hover {
  background-image: url("../icons/footer/facebook-hov.svg");
}

.twitter {
  background-image: url("../icons/footer/twitter.svg");
}

.twitter:hover {
  background-image: url("../icons/footer/twitter-hov.svg");
}

.menu_img {
  display: none;
  background-color: #383b83;
  width: 12px;
  height: 12px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    width: 67%;
  }
  .slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider-search {
    height: 25%;
    padding-top: 2.5%;
  }
  .card.named {
    height: 350px;
    width: 220px;
  }
  .card-img {
    height: 262px;
    width: 220px;
  }
  .card.mamed.vocation {
    margin-bottom: 30px;
  }
  .coffee {
    height: 174px;
  }
  .card-description a {
    padding-top: 35px;
  }
  .card-inf {
    height: 160px;
    width: 220px;
  }
  .central-wrapper {
    width: 25%;
    height: 95px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__list.time {
    width: 280px;
  }
  .slider_list.search {
    width: 221px;
  }
  .slider_list.plans {
    position: absolute;
    margin: 0;
    width: 145px;
    left: 42.5%;
    top: 10%;
  }
  .slider_list.important {
    position: absolute;
    margin: 0;
    width: 160px;
    top: 19%;
    left: 42.5%;
  }
  .content .container {
    padding: 30px 24px 120px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
}

@media (max-width: 576px) {
  .header {
    min-width: 320px;
  }
  .header .menu {
    display: none;
  }
  .subheader {
    height: 232px;
  }
  .subheader .container {
    padding: 14px;
    display: block;
  }
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .central-wrapper {
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider-search {
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
  }
  .slider-time {
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
  }
  .slider-important {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-important .btn {
    padding: 0;
    width: 61px;
    height: 32px;
  }
  .card-inf {
    height: 175px;
    width: 290px;
  }
  .card.named {
    height: 300px;
    width: 290px;
  }
  .card-img {
    height: 210px;
    width: 290px;
  }
  .card-img.coffee {
    height: 146px;
    swidth: 290px;
  }
  .top {
    margin: 0;
  }
  .card-inf, .card.named {
    margin-bottom: 14px;
  }
  .footer {
    bottom: 0;
    height: 44px;
    min-width: 320px;
  }
  .footer .container {
    width: 90%;
    padding: 0 10px;
  }
  .footer .logo {
    visibility: hidden;
  }
  .footer .media {
    visibility: hidden;
  }
  .footer .menu {
    position: absolute;
    width: 90%;
    z-index: 200;
  }
  .menu-hid.share {
    z-index: 100;
    width: 12px;
    height: 12px;
    padding-top: 10%;
    padding-right: 25px;
  }
  .menu-hid.share:hover.menu_img {
    background: #484b98;
    display: inline-block;
  }
  .list__item {
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */